---
#
# Ansible managed
#
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
    - image="amazonlinux" tag="1"
    - image="amazonlinux" tag="latest"
    - image="alpine" tag="latest"
    - image="alpine" tag="edge"
    - image="debian" tag="latest"
    - image="debian" tag="bullseye"
    - image="centos" tag="7"
    - image="centos" tag="latest"
    - image="fedora" tag="30"
    - image="fedora" tag="latest"
    - image="fedora" tag="rawhide"
    - image="ubuntu" tag="latest"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "Chv2R5UGXJMJ02b9vnGt6WVO/R281YMrkslw2cnMhLYwgfeqL4m/cnA+OtzLjAOFm3FMpfWzW0kUgbVcA8XVpobvMCtOS85lWegMDool2RHfmyOeoPo/4xqK97sfXPIRBtQ4/+9n2nNVwmk38j9XHVEzTzUc7HEoCsJPsRVFkCJ9Bk/G5INLM0/jeWPTeuESfVWnbKm32n0yznOJFtIDu+FqnkD+tBdin6ZvB8kdPWwSIFunCJgHXB7NzsbhJFVhxFjCSlndNgGBLVGNYQenkqbLD3k+zvAx2X12fLJAs/laO8lEtPs2xq+nOxhB8LTWjTLleCcaE2vIlzog9/Iq8jYxCau52n6MycxVslSGYY6/zSmF3VAhB+pv+GQ2om+ZRiu5eDeMUnDllysqc0mPxP8k2hf+PkLy4oxWuVW3MvlSVQI611x8X0Md67uzSTTuq7/5fpMDZO4mg5N2FKyFLo+fflKHdSUt8wryxSA8VTeDJ1ro/qfYcmGBmCIHxgOAaa+yMTPEVAHYE0iLAWOXIb9ZglNgM2aIihoa4APvIhzta0YsChM5Zw2Ltsjbj1/dsM+8+/w9F9AJMof3d9df4nbUnsX1w4JXvnSza5rNZwsuFy3KwFf+9XvQG7lqu6zKgzj+mCVDtT2bRrTjHotutAazjXvYEw5rRrul8wLB/hw="
  email: false
