default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};
option subnet-mask {{ subnet_mask }};
option broadcast-address {{ broadcast_address }};
option routers {{ routers }};
option domain-name-servers {{ domain_name_servers }};
option domain-search "{{ domain_search }}";

{% for subnet in subnets %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
  range {{ subnet.range_start }} {{ subnet.range_end }};
{% if filename is defined %}  filename "{{ filename }}";{% endif %}
{% if next_server is defined %}next_server "{{ next_server }}";{% endif %}
}
{% endfor %}
