{{ ansible_managed | comment }}

# GLOBAL CONFIG SECTION
{% if 'parameters' in  dhcpd_global_statements %}
{% for parameter, value in dhcpd_global_statements.parameters.items() %}
    {{ parameter }} {{ value }};
{% endfor %}
{% endif %}
{% if 'options' in dhcpd_global_statements %}
{% for option, value in dhcpd_global_statements.options.items() %}
    option {{ option }} {{ value }};
{% endfor %}
{% endif %}

# SUBNET GENERATED SECTION
{# empoty line is needed for  preaty rendering#}

{% for subnet_statement in dhcpd_subnets %}
{% if subnet_statement.subnet | ipaddr('network') %}
subnet {{ subnet_statement.subnet | ipaddr('network') }} netmask {{ subnet_statement.subnet | ipaddr('netmask') }} {
{% if 'parameters' in  subnet_statement %}
{% for parameter, value in subnet_statement.parameters.items() %}
    {{ parameter }} {{ value }};
{% endfor %}
{% endif %}
{% if 'options' in subnet_statement %}
{% for option, value in subnet_statement.options.items() %}
    option {{ option }} {{ value }};
{% endfor %}
{% endif %}
{# don't remove acolade it's not a typo #}
}
{# empoty line is needed for  preaty rendering#}

{% else %}

# Ansible was not able to generate subnet: {{ subnet_statement }}, it seems this is not a valid subnet_statement

{% endif %}
{% endfor %}

